.container {
    display: flex;
    flex-direction: column;
    width: 20rem;
    margin: 10rem auto;
    background-color: darkmagenta;
    padding: 2rem 1.5rem;
    border-radius: 10px;
}

.show-div {
    height: 2rem;
    background-color: lightgray;
    border-radius: 10px;
    margin-bottom: 2rem;
    text-align: right;
    padding-top: 1rem;
    padding-right: 0.5rem;
}

.btn-div {
    display: grid;
    grid-template-areas: 
    "one two three clear"
    "four five six plus"
    "seven eight nine minus"
    "zero zero times divid"
    "zero zero eval eval";
    grid-gap: 0.3rem;
}

.btn {
    width: 100%;
    height: 2rem;
    display: inline-block;
    margin: auto auto;
    background-color: orange;
    text-align: center;
    border-radius: 10px;
}

span {
    display: block;
    margin-top: 0.5rem;
}

.btn-1 {
    grid-area: one;
}

.btn-2 {
    grid-area: two;
}

.btn-3 {
    grid-area: three;
}

.btn-4 {
    grid-area: four;
}

.btn-5 {
    grid-area: five;
}

.btn-6 {
    grid-area: six;
}

.btn-7 {
    grid-area: seven;
}

.btn-8 {
    grid-area: eight;
}

.btn-9 {
    grid-area: nine;
}

.btn-0 {
    margin: 0;
    height: 100%;
    align-self: stretch;
    grid-area: zero;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-0 > span {
    margin: 0;
}

.btn-plus {
    grid-area: plus;
}

.btn-minus {
    grid-area: minus;
}

.btn-times {
    grid-area: times;
}

.btn-divid {
    grid-area: divid;
}

.btn-clear {
    grid-area: clear;
}

.btn-eval {
    grid-area: eval;
}